name: Build dei documenti LaTeX

on:
  push:
    branches: [main]
    paths:
      - 'documents/**'
  pull_request:
    branches: [main]
    paths:
      - 'documents/**'
  workflow_dispatch:
    branches: [main]

jobs:
  build-latex:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: documents
    steps:
    # passa il codice della repository al runner
    - name: Checkout del codice
      uses: actions/checkout@v4

    - name: Cache dei pacchetti APT
      uses: actions/cache@v4
      with:
        path: /var/cache/apt/archives
        key: ${{ runner.os }}-apt-${{ hashFiles('apt_packages.txt') }}
        restore-keys: |
          ${{ runner.os }}-apt-

    - name: Installa TeX Live
      run: |
        sudo apt-get update
        xargs -a apt_packages.txt sudo apt-get install -y

    - name: Compila i documenti
      run: |
        chmod +x ./build.sh

        for f in *.tex; do
          # se $f file non esiste o non è un file, saltalo 
          [ -f "$f" ] || continue
          echo "Compilo $f..."
          bash ./build.sh "$f" || echo "Errore: Non è stato possibile compilare $f"
        done

    - name: Carica i PDF
      uses: actions/upload-artifact@v4
      with:
        name: compiled-documents
        path: documents/build/*.pdf

