name: Test e build di debug del client

on:
  push:
    branches: [main]
    paths:
      - 'client/**'
  pull_request:
    branches: [main]
    paths:
      - 'client/**'
  workflow_dispatch:
    branches: [main]

jobs:
  android-test-and-debug-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: client/react_native
    env:
      JAVA_HOME: /usr/lib/jvm/java-17-temurin
    steps:
    # passa il codice della repository al runner
    - name: Checkout del codice
      uses: actions/checkout@v4

    - name: Set up di Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24.13.0

    - name: Set up di Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21.0.9

    - name: Cache dei moduli npm
      uses: actions/cache@v4
      with:
        path: ~/.npm
        # la chiave dipenderà dal OS usato e dai contenuti di package-lock.json
        key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}

    - name: Installa le dipendenze
      run: npm install

    - name: Cache delle dependency di gradle
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        # la chiave dipenderà dal OS usato e dai contenuti di package-lock.json
        key: ${{ runner.os }}-gradle-${{ hashFiles('android/gradle/wrapper/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Configura le variabili di ambiente e imposta un certificato SSL
      run: |
        cp ../../.env.development .env
        source .env

        (
          cd ../../server/$CERTIFICATE_DIR && source ./generate_dev_cert.sh
        )

        mkdir -p ./android/app/src/debug/res/raw/
        openssl x509 -outform der -in ../../server/$CERTIFICATE_DIR/$CERTIFICATE_NAME -out ./android/app/src/debug/res/raw/certificate.crt

        cat <<'EOF'
        [INFO]
        Android rifiuta di default i certificati SSL non
        firmati da una CA (Certification Authority) attendibile.

        In ambiente di sviluppo, il server utilizza un certificato
        autofirmato. Questo certificato viene esplicitamente incluso
        nell'APK e configurato come attendibile, in modo da evitare il
        rifiuto delle connessioni HTTPS da parte del client.

        Per questo motivo, durante la CI viene generato un certificato SSL
        temporaneo, utilizzato esclusivamente per consentire la build
        e i test dell'APK in modalità debug.

        In assenza di questo certificato, la build di debug fallirebbe.
        EOF

    - name: Esegui i test Jest
      run: npm test

    - name: Esegui i test gradlew
      working-directory: client/react_native/android
      run: ./gradlew test

    - name: Build del APK android
      working-directory: client/react_native/android
      run: ./gradlew assembleDebug